<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personne.nom %>
</p>

<p>
  <strong>Prenomb:</strong>
  <%= @personne.prenomb %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @personne.date_de_naissance %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
